// con parametros
@mixin border ($border, $margin){
    border: $border;
    margin-top: $margin;
}


// sin parametros
@mixin header{
    display: flex;
    justify-content: space-between;
}

@mixin main{
    color: #325782;
    text-align: center;
}

@mixin s-redirecciones{
    background-color: #A85C25;
    color: #f0eae3;
    padding: 5px 10px 5px 10px; 
    border-radius: 15px;
    font-weight: 600;
}

@mixin redirecciones{
    margin: 0;
    padding: 0;
    display: block;
    width: 250px;
    height: auto;
    margin-top: 1.3rem;
}