// VARIABLES
@use "../utilities/variables" as *;
// MIXIN
@use "../utilities/mixin" as *;

/* estilos de header */
header{
    background-color: $header-p;

    .headerr{
        @include header;
        nav{
            display: flex;
        }
        nav a img{
            text-align: center;
        }
        .logo-principal{
            animation: slide-in-blurred-top .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        }

        @keyframes slide-in-blurred-top {
            0% {
                transform: translateY(-500px) scaleY(2.5) scaleX(0.2);
                transform-origin: 50% 0%;
                filter: blur(40px);
                opacity: 0;
            }
            100% {
                transform: translateY(0) scaleY(1) scaleX(1);
                transform-origin: 50% 50%;
                filter: blur(0);
                opacity: 1;
            }
        }

        .redirecciones{
            display: none;
        }
        .redirecciones ul li a{
            @include s-redirecciones;
            transition: .7s;
        }
        .redirecciones ul li a:hover{
            
            background-color: $header-p;
            color: $marron;
            transform: scale(1.1);
        }
        .redirecciones ul li{
            @include redirecciones;
        }
        .productos{
            animation: slide-in-blurred-left .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .6s both;
        }
        .contacto{
            animation: slide-in-blurred-left .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .4s both;
        }
        .adn{
            animation: slide-in-blurred-left .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) .8s both;
        }
        @keyframes slide-in-blurred-left {
            0% {
                transform: translateX(-100px) scaleX(2.5) scaleY(0.2);
                transform-origin: 100% 50%;
                filter: blur(40px);
                opacity: 0;
            }
            100% {
                transform: translateX(0) scaleY(1) scaleX(1);
                transform-origin: 50% 50%;
                filter: blur(0);
                opacity: 1;
            }
        }
        .redirecciones ul li:hover{
            transform: scale(1.1);
            transition: .5s;
        }
    }
    h1{
        margin-top: 10px;
        max-width: 100%;
    }
}
  /* menu hamburguesa */
header{
    .headerr{
        .accordion{
            margin-right: .6rem;
            width: 2rem;
            height: 2rem;
        }

        .accordion-body{
            padding: 0;
        }

        .accordion-item{
            width: 2rem;
            height: 2rem;
        }

        .accordion-header{
            background-color: $header-p;
            margin: 0;
        }

        .accordion-button{
            padding: 0;
            width: 2rem;
            height: 2rem;
            text-align: center;
        }

        #collapseOne{
            position: absolute;
            right: 3rem;
            left: auto;
            top: 1px;
            width: 10rem;
            height: 9.5rem;
            background-color:$pastel;
            border: 3px solid $marron;
            border-radius: 10px;
            animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        @keyframes scale-in-tr {
            0% {
                transform: scale(0);
                transform-origin: 100% 0%;
                opacity: 1;
            }
            100% {
                transform: scale(1);
                transform-origin: 100% 0%;
                opacity: 1;
            }
        }
        .accordion-body ul li a{
            text-decoration: none;
            color: $marron;
            font-weight: 600;
        }
        .accordion-body ul li a:hover{
            scale: 1;
            color: $pastel;
            background-color: $marron;
            font-size: 15px;
            display: block;
            border-radius: 15px;
            padding: 5px 10px 5px 10px;
        }
        .accordion-body ul li{
            list-style: none;
            padding-top: 10px;
        }

        .accordion-body ul{
            padding: 0;
            margin: 0;
            text-align: center;
        }
        .accordion-button::after {
            /* eliminar flechita */
            display: none !important;
        }

        nav ul a{
            text-decoration: none;
            color: $marron;
        }
 
        nav ul li{
            text-align: center;
        }
    }
}

header h1{
    background-color: $marron;
    color:$pastel;
    text-align: center;
    
}
.h1-header{
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) .5s both;
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(100px) scaleX(0) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/* estilos de main */
.main-index{
    background-image: url(../img/img-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    @include main;
    
    p a:hover{
        color: $marron;
    }
    h2 span{
        color: $marron;
    }
    h2{
        color:  $azul;
    }
    div p{
        text-align: center;
        color: $azul;
        font-size: large;
    }

    div p a{
        text-align: center;
        color: $marron;
    }
    p span{
        font-size: medium;
        color: $marron;
    }

    .diasorteo span{
        color: $azul;
        font-weight: 800;
    }

    .clc{
        margin-top: 1rem;
    }

    .img-index{
        width: 200px;
        height: 300px;
        border: 10px solid $header-p;
        border-radius: 10px;
    }
}
/*main adn*/
.main-adn{
    .chupetin-1{
        h2{
            font-weight: 800
        }
        p{
            font-weight: 600;
            margin-top: 1rem;
        }
    }
    .chupetin-2 img{
        border: 15px solid $header-p;
        border-radius: 15px;
    }
    .chupetin-3{
        h3{
            font-weight: 600;
            margin-top: 1rem;
        }
    }
    .chupetin-6{
        font-weight: 600;
    }
}
    
 /* MAIN PRODUCTOS */
 main{
    #carouselExample, #carouselExample2{
        width: 60%;
        height: 50%;
        left: 1.2rem;
        border: 5px solid $header-p;
    }
    
    .mesitas-materas{
        margin-top: 1rem;
        background-color: $header-p;
        width: 200px;
        color: $marron;
    }
    .matera-premium{
        text-align: left;
        padding: 0rem 0rem 0rem 1rem;
        background-color: $header-p;
        width: 200px;
        color: $marron;
    }
 }

 /* MAIN CONTACTO */
main{
    .contenedor{
        display: grid;
        grid-template-columns: 1rem 10rem;
        grid-template-rows: repeat(4, 2rem);
        grid-template-areas: 
        "item-uno item-dos"
        "item-tres item-cuatro"
        "item-cinco item-seis"
        "item-siete item-ocho";
        gap: 5rem;
        margin-left: 1rem;
    }
    .item-uno{
        grid-area: item-uno;
    }

    .item-dos{
        grid-area: item-dos;
        background-color: $header-p;
        height: 80px;
        border-radius: 15px;
        align-content: center;
    }
    .item-dos p{
        color: $marron;
    }

    .item-tres{
        grid-area: item-tres;
    }

    .item-cuatro{
        grid-area: item-cuatro;
        background-color: $header-p;
        height: 80px;
        border-radius: 15px;
        align-content: center;
    }
    .item-cuatro p, .item-cuatro a{
        text-decoration: none;
        color: $marron;
        margin: 0;
    }

    .item-cinco{
        grid-area: item-cinco;
    }

    .item-seis{
        grid-area: item-seis;;
        background-color: $header-p;
        height: 80px;
        width: 250px;
        border-radius: 15px;
        align-content: center;
    }
    .item-seis p{
        color: $marron;
        margin: 0;
    }

    .item-siete{
        grid-area: item-siete;
    }
    .item-ocho{
        grid-area: item-ocho;
        background-color: $header-p;
        height: 80px;
        border-radius: 15px;
        align-content:center ;
    }
    .item-ocho p, .item-ocho a{
        text-decoration: none;
        color: $marron;
        margin: 0;
    }
    .contenedor img{
    width: 5rem;
    height: auto;
    }
}

footer{
        display: block;
        background:linear-gradient(0deg, $header-p 70%, $pastel);
        width: 100%;
        height: 10rem;
        background-color: $header-p;
        h4{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
            padding-left: 3rem;
            margin-bottom: 2rem;
            font-size: 20PX;
            font-weight: 800;
        }
        div ul{
            display: flex;
            justify-content: center;
            list-style: none;
        }
        div ul li{
            margin: 1rem;
        }
    }
